{% set single = __SELF__.singlePost %}

<div class="container">
    <h2>{{single.title}}</h2>
    <img src="{{single.featured_image.path}}" alt="">
    {{single.content |raw}}
</div>

<div class="container">
    <div class="actionBox">
        <h3>Comment</h3>
        <div id="CommentContent">
            {% partial "comment" %}
        </div>
        <form class="form-inline" data-request="cpsinglepost::onAddComment" role="form"
              data-request-update="comment: '#CommentContent'">
            <div class="form-group">
                <input class="form-control" type="text" name="comment" placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>

