<ul class="commentList">

    {% for singleComment in cpsinglepost.commentDb %}
        {% if singleComment.postId == cpsinglepost.currentPostId.id%}
        <li>
            <div class="commenterImage">
                <img src="http://localhost:3000/storage/app/uploads/public/5a9/613/395/5a96133955e00338553561.jpg" />
            </div>
            <div class="commentText">
                <div>
                    <p class="">{{singleComment.content}}</p>
                    <div class="comment-more">
                        <a href="#">Reply</a>
                        <span class="date sub-text">on {{singleComment.create_at | date("F jS Y")}}</span>
                    </div>
                </div>


                <div id="ReplyContent">
                    {% partial "reply" currentCommentId = singleComment.id %}
                </div>

                <form class="form-inline" data-request="cpsinglepost::onAddReplyComment" role="form"
                      data-request-update="reply: '#ReplyContent' ,
                                            comment: '#CommentContent'
                ">
                    <div class="form-group">
                        <input class="form-control" type="text" name="replyComment" placeholder="Your comments" />
                        <input type="hidden" name="parentCommentId" value="{{singleComment.id}}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
