[menu]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
[cpmember]
==
<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{generaloption.logo.path}}" alt="">
        </a>
        {% component "menu" %}


        {% if auth %}
        <ul>
            <li>
                Hi {{auth.firstname}} {{auth.lastname}}
            </li>
            <li>
                <form data-request="cpmember::onLogout" data-request-flash>
                    <input type="submit" value="Logout">
                </form>
            </li>
        </ul>
        {% else %}
        <ul>
            <li>
                <a href="#login" data-toggle="modal">Login</a>
            </li>
            <li>
                <a href="#register" data-toggle="modal">Register</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">{{generaloption.headtitle}}</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                {% component "cpsignupemail" %}
            </div>
        </div>
    </div>
</header>

{% component "cpmember" %}
