

{% for reply in cpsinglepost.replyDB %}

{% if reply.commentId == currentCommentId%}
<div class="reply">
    <div class="commenterImage">
        <img src="http://localhost:3000/storage/app/uploads/public/5a9/613/395/5a96133955e00338553561.jpg"/>
    </div>
    <div class="commentText">
        <p class="">{{reply.text}}</p>
        <div class="comment-more">
            <span class="date sub-text">on {{reply.create_at | date("F jS Y")}}</span>
        </div>
    </div>
</div>
{% endif %}


{% endfor %}