[cpsignupemail]

[cpsinglepost]
[cpmember]
==
<?php
use Domdom\Cms\Models\GeneralOption;
use Domdom\Cms\Models\Comment;

        function onStart(){
            $generaloption = GeneralOption::find(1);
            $this['generaloption'] = $generaloption;


        }
?>
==
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="liemdotv">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" type="text/css">
        <link href="{{ [
        'assets/css/base.css',
    ]|theme }}" rel="stylesheet" media="screen" />
        {% styles %}
    </head>
    <body class="{{ this.page.bodyClass }}">

    {% partial "header" %}


    {% page %}


    {% partial "footer" %}

    <script src="{{ [
            'assets/js/jquery.min.js',
            'assets/js/main.js',
        ]|theme }}">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% scripts %}
    {% framework extras %}
    </body>
</html>