
{% set cpabout = __SELF__.cpabout %}


{% for aboutcontent in cpabout.content %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6
                  {% if loop.index  is divisible by(2)  %}
                        order-lg-2
                    {% endif %}
            ">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{{ aboutcontent.content_image |media}}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">{{aboutcontent.title}}</h2>
                    <p>{{aboutcontent.content}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

