{% set cpPost = __SELF__.cpPost %}
{% set count = __SELF__.count %}
{% set currentPage = __SELF__.currentPage %}
{% set hasMorePages = __SELF__.hasMorePages %}
{% set lastPage = __SELF__.lastPage %}
{% set nextPageUrl = __SELF__.nextPageUrl %}
{% set perPage = __SELF__.perPage %}
{% set previousPageUrl = __SELF__.previousPageUrl %}
{% set total = __SELF__.total %}


<div class="posts">
    {% for singlePost in cpPost %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{singlePost.featured_image.path}}" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3 class="post-title">{{singlePost.title}}</h3>
                <div class="excerpt"> {{str_limit(singlePost.content |raw, 150)}}</div>
                <a class="btn btn-primary" href="{{'news-detail' |page ({'slug':singlePost.slug}) }}">View Project</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div>
    {{ cpPost.render|raw }}
    count: {{ count }} <br>
    currentPage: {{ currentPage }}<br>
    hasMorePages: {{ hasMorePages }}<br>
    lastPage: {{ lastPage }}<br>
    nextPageUrl: {{ nextPageUrl }}<br>
    perPage: {{ perPage }}<br>
    previousPageUrl: {{ previousPageUrl }}<br>
    total: {{ total }}
</div>
