
<form method="post" data-request="cpsignupemail::onSignUpEmail" data-request-flash data-request-success="signUpEmailResponse(data)">
    <div class="form-row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter your email...">
        </div>
        <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
        </div>
    </div>
</form>

