<!-- Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-request="{{ __SELF__ }}::onLogin" data-request-flash data-request-success="console.log(data)">
                <div class="modal-body">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <input type="checkbox" name="remember"> remember me

                    <a href="#forgot" data-dismiss="modal" data-toggle="modal">Fogot Password</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                {{params}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-request="cpmember::onSignup" data-request-flash data-request-success="console.log(data)">
                <div class="modal-body">
                    <input type="text" class="form-control" name="firstname" placeholder="First Name">
                    <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                    <input type="text" class="form-control" name="phone" placeholder="Phone" >
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--foget password-->

<div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Fogot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form data-request="{{ __SELF__ }}::onForgot" data-request-flash data-request-success="console.log(data)">
                <div class="modal-body">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </form>

        </div>
    </div>
</div>