<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Update your new password</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" class="form-horizontal" role="form" data-request="cpmember::onReset" data-request-redirect="{{ ''|app }}/#login">
                    {% if token_expired %}
                    <div class="token_expired">
                        <p>Your token has been expired.</p>
                        <p>Please use forgot password function again.</p>
                    </div>
                    <a href="#forgot" data-toggle="modal" class="btn-custom"><span>Forgot password</span></a>

                    {% else %}

                    <input type="hidden" name="token" value="{{ get('token') }}" />
                    <input type="hidden" name="email" value="{{ get('email') }}" />

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="password" class="form-control" name="passwd"  placeholder="Password(min length is 6 characters)">
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="passwd_confirmation" placeholder="password">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <input type="submit" class="btn btn-primary" value="Reset Password">
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>