
{% set cp_homepage = __SELF__.cp_homepage %}

<p>
    Switch language to:
    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">English</a>,
    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'vi'">Vietnamese</a>
</p>
<h1>{{'thử'|_}}</h1>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <h3>{{ cp_homepage.title1 | raw }}</h3>
                    <p class="lead mb-0">{{ cp_homepage.content1 | raw }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>{{ cp_homepage.title2 | raw}}</h3>
                    <p class="lead mb-0">{{ cp_homepage.content2 | raw }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>{{ cp_homepage.title3 | raw }}</h3>
                    <p class="lead mb-0">{{ cp_homepage.content3 | raw }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{cp_homepage.imageContent4.path}});"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>{{ cp_homepage.title4 | raw}}</h2>
                <p class="lead mb-0">{{ cp_homepage.content4 | raw }}</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url({{cp_homepage.imageContent5.path}});"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>{{ cp_homepage.title5 | raw}}</h2>
                <p class="lead mb-0">{{ cp_homepage.content5 | raw }} </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{cp_homepage.imageContent6.path}});"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>{{ cp_homepage.title6 | raw}}</h2>
                <p class="lead mb-0">{{ cp_homepage.content6 | raw }}</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{cp_homepage.people_image1.path}}" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{cp_homepage.people_image2.path}}" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{cp_homepage.people_image3.path}}" alt="">
                    <h5>Sarah	W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">{{'Ready to get started? Sign up now!' |_}}</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                {% component "cpsignupemail" %}
            </div>
        </div>
    </div>
</section>



